
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
<body>
 
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/img/logo3.jpg" id="icon" alt="User Icon" />
    </div>
          <h3>Iniciar sesión</h3>         
        </div>
        <div class="card-body">
          <form>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="correo electrónico">
            </div>
 
            
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" placeholder="contraseña">
            </div>
            
            <div class="row align-items-center remember">
              <input type="checkbox"> Recuérdame
            </div>
            <div class="form-group">
              <input type="submit" value="Iniciar sesión" class="btn float-right login_btn">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center">
            <a href="#">Olvidaste tu contraseña?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
        
</body>
