<div class="row all-content nopadding" align="center">
	<div class="col-9 nopadding">
		<img class="img-fluid fondo" src="/assets/img/st.jpeg" id="icon" alt="User Icon" />
	</div>
	
	<div class="col-3 nopadding">
				<div class="card">
					
					<div class="card-header">
						<br><br>
						<h2 class="title-login">Iniciar sesión</h2>      

						<div class="fadeIn first">
							<img class="img-fluid" src="/assets/img/logo2.jpg" id="icon" alt="User Icon" />
						</div>
					</div>
					<div class="card-body">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-user"></i></span>
							</div>
							<input type="text" (keyup)="setUser($event.target.value)" class="form-control" placeholder="correo electrónico">
						</div>
		
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-key"></i></span>
							</div>
							<input type="password" (keyup)="setPass($event.target.value)" class="form-control" placeholder="contraseña">
						</div>
						
						<!-- <div class="row align-items-center remember">
							<input type="checkbox"> Recuérdame
						</div> -->
						<div class="form-group">
							<button (click)="login()" class="btn btn-info float-right login_btn"> Iniciar Sesión </button>
						</div>
					</div>
					<!-- <div class="card-footer">
						<div class="d-flex justify-content-center">
							<a href="#">Olvidaste tu contraseña?</a>
						</div>
					</div> -->
				</div>		
	</div> 
</div>
