<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Acceso colaboradores</title>



</head>
<body>
    <ul class="nav nav-tabs fondo">
        <li class="nav-item">
          <a class="nav-link" href="/login">Sign out</a>
        </li>
      </ul>
      <br>
      
      <div class="container">
          <form>
              <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Nombre Proyecto</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Fecha Inicio</th>
                      <th scope="col">Fecha Termino</th>
                      <th scope="col">Estado Proyecto</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Creacion Backend</td>
                      <td>Se requiere crear backend </td>
                      <td>02-05-2020</td>
                      <td>20-08-2020</td>
                    </tr>
                  </tbody>
                </table>
            </form>    
      </div>
      <br>
      <br>
      <br>

      <div class="form-row">
        <div class="form-group col-md-4"></div>
        <div class="form-group col-md-5">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/pidhWGD-m_A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="form-group col-md-3"></div>
      </div>
     
</body>
</html>