    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="nav-link salir" [routerLink]="['login']"> Salir </a>
      </nav>
    
<br>
<br>

<div class="container">
        <h2>Mis Proyectos</h2>
        <br>
        <div class="container">
          <form>
              <!-- <table  [id] = '"tablacol"' datatable [dtOptions]='dtoptions' class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Nombre Proyecto</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Fecha de Inicio</th>
                      <th scope="col">Fecha de Término</th>
                      <th scope="col">Estado</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let proyecto of proyectos">
                      <td>{{proyecto["nombre"]}}</td>
                      <td>{{proyecto["descripcion"]}}</td>
                      <td>{{proyecto["fechai"]}}</td>
                      <td>{{proyecto["fechat"]}}</td>
                      <td>{{proyecto["estado"]}}</td>

                    </tr>
                  </tbody>
                </table> -->

                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar...">
                </mat-form-field>
                
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Proyecto </th>
                      <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="descripcion">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                      <td mat-cell *matCellDef="let row"> {{row.descripcion}}</td>
                    </ng-container>
                
                    <ng-container matColumnDef="fechai">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
                      <td mat-cell *matCellDef="let row"> {{row.fechai}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="fechat">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Término </th>
                      <td mat-cell *matCellDef="let row" > {{row.fechat}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                      <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </form>    
      </div>
      <br>
      <br>
      <br>
    
     