<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<title>Proyectos-Adm</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Menú</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="verproyectos">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registrocol">Colaboradores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="reportestaff">Reporte de Staffing</a>
              </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button type="submit" class="btn btn-outline-primary">Buscar</button>
          </form>
        </div>
      </nav>
    

  <br>
  <br>
  <div class="container">
    <h2>Proyectos</h2>
    <br>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripción</th>
            <th scope="col">Colaboradores</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">0001</th>
            <td>Empresa Coca-Cola</td>
            <td>Activo</td>
            <td>Página web Coca-Cola</td>
            <td>Marcelo Lagos <br> Claudia Reyes <br> Priscilla Palomo</td>
            <td>
                <button type="button" href="#" class="btn btn-primary btn-sm">Editar</button>
                | 
                <button type="button" class="btn btn-light btn-sm">Eliminar</button></td>
                |
                <button type="button" href="asignarcol" class="btn btn-primary btn-sm">Añadir colaborador</button>
          </tr>
      
          <tr>
            <th scope="row">0002</th>
            <td>Daily Fresh/td>
            <td>Activo</td>
            <td>Creación de compra online</td>
            <td>Camila Farias <br> Millena Trincado <br> Valentina Borquez</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Editar</button>
                | 
                <button type="button" class="btn btn-light btn-sm">Eliminar</button></td>
                |
                <button type="button" href="asignarcol" class="btn btn-primary btn-sm">Añadir colaborador</button>
          </tr>
          <tr>
            <th scope="row">0003</th>
            <td>Spa Vital</td>
            <td>Pendiente</td>
            <td>Página web interna</td>
            <td>Noemi Gomez <br> Libertad Herrera <br> Denisse Carvajal</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Editar</button>
                | 
                <button type="button" class="btn btn-light btn-sm">Eliminar</button></td>
                |
                <button type="button" href="asignarcol" class="btn btn-primary btn-sm">Añadir colaborador</button>
          </tr>
       </tbody>
        
    </table>
      <br>
 
      <br>
      <br>
      <br>
      <br>
  </div>
   <!-- Footer -->
       <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Pioners Para Ustedes</h5>
          <p>Esperamos que el conetenido sea de facil acceso para los usuarios.</p>
         </div>
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
         <h5 class="text-uppercase">Links</h5>

           <ul class="list-unstyled">
            <li>
              <a href="https://youtu.be/0AVU_Il2kaw">Que hacemos.</a>
            </li>
            <li>
             <a href="https://goo.gl/maps/migHHupJPwwHeBHY6">Donde Trabajamos.</a>
            </li>
            <li>
              <a href="https://youtu.be/mhZjVFPBdJg">inspiracion.</a>
            </li>
           
           </ul>

        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="size: auto;">© 2020 Soporte Staffing:
         <a href="https://mdbootstrap.com/education/bootstrap/"> stafing.pioners.com</a>
        </div>
       </footer>
     <!-- Footer -->
 </body>
</html>