
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['accesoadmin']" >Menú</a>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['verproyectos']">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['registrocol']">Colaboradores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['reportestaff']">Reporte de Staffing</a>
              </li>
           

          </ul>
          <a class="nav-link salir" [routerLink]="['login']"> Salir </a>
            
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
            <button type="submit" class="btn btn-outline-primary">Buscar</button>
          </form> -->
        </div>
      </nav>
    

  <br>
  <br>

<router-outlet></router-outlet>
<!-- 
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="col-md-6 mt-md-0 mt-3">
    
    <h5 class="text-uppercase">Pioners Para Ustedes</h5>
    <p>Esperamos que el conetenido sea de facil acceso para los usuarios.</p>
   </div>
  <div class="col-md-3 mb-md-0 mb-3">

    
   <h5 class="text-uppercase">Links</h5>

     <ul class="list-unstyled">
      <li>
        <a href="https://youtu.be/0AVU_Il2kaw">Que hacemos.</a>
      </li>
      <li>
       <a href="https://goo.gl/maps/migHHupJPwwHeBHY6">Donde Trabajamos.</a>
      </li>
      <li>
        <a href="https://youtu.be/mhZjVFPBdJg">inspiracion.</a>
      </li>
     
     </ul>

  </div>
 
  <div class="footer-copyright text-center py-3" style="size: auto;">© 2020 Soporte Staffing:
   <a href="https://mdbootstrap.com/education/bootstrap/"> stafing.pioners.com</a>
  </div>
 </footer> -->
