  

  <div class="container">
      <br>
      <h5> HABILIDADES NECESARIAS PARA LA IMPLEMENTACION DE PROYECTOS <span class="badge badge-secondary"></span></h5>
      <br>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="titulo">HABILIDADES REQUERIDAS</label>
          <input type="text" class="form-control" id="titulo" placeholder="Java">
         <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <button type="button" (click)="guardarhab()" class="btn btn-dark"  >Guardar</button> 
          </div>
        </div>
        <div class="form-group col-md-4"></div>
      </div>
      
  </div>


