<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<title>Document</title>
</head>
<body>
  <ul class="nav nav-tabs navbar-dark fixed-top "  style="background-color: #585858;">
    <li class="nav-item">
      <a class="nav-link" href="/accesoadmin">Inicio</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"  >Usuarios</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/registro.html">Crear Usuarios</a>
        <a class="dropdown-item" href="#">Lista Usuarios</a>
     
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Proyectos</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Crear Proyecto</a>
        <a class="dropdown-item" href="#">Lista Proyecto</a>
     
      </div>
    </li>
  </ul>

  <br>
  <br>
  <br>
  

    <div class="container">
        <h3>Menú</h3>
        

        <div class="row">
            


                  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          
          <div class="card border-primary mb-3" style="max-width: 15rem;">
            <div class="card-body text-danger">
              <h5 class="card-title">PROYECTOS</h5>
              <p class="card-text">CREACIÓN DE PROYECTOS , LISTADO DE PROYECTOS</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Nuevo Proyecto</a>
              <a href="#" class="card-link">Lista de Proyectos</a>
            </div>
          </div>
        </div>	 
      
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          
          <div class="card border-danger mb-3" style="max-width: 20rem;">
            <div class="card-body text-primary">
              <h5 class="card-title">USUARIOS</h5>
              <p class="card-text">CREACIÓN DE USUARIOS , LISTADO DE USUARIOS</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Nuevo Usuario</a>
              <a href="#" class="card-link">Lista de usuarios</a>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          
          <div class="card border-primary mb-3" style="max-width: 15rem;">
            <div class="card-body text-danger">
              <h5 class="card-title">Reportes !</h5>
              <p class="card-text">REPORTES DE ...... </p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link"></a>
              <a href="#" class="card-link"></a>
            </div>
          </div>

        </div>
      
        
      </div>
    </div>
  

  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
  
                
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      

      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>

    </div>
  </div>
  
</body>
</html>
