      <div class="container">
        <div class="row cuadrados">
          
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           
            <div class="card">
              <div class="card-header" style="color:crimson" >
                REQUERIMIENTO DE HABILIDADES
                <img style="height: 90px; width: 90px; margin: 80px; "  src="/assets/img/habilidades.png"  id="icon" alt="User Icon" />
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <a [routerLink]="['../../index/crearhab']" class="card-link">Agregar Habilidades </a>
                  <br>
                  <br>
                </blockquote>
              </div>
            </div>
          </div>
                    
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="card">
              <div class="card-header" style="color:crimson" >
                PROYECTOS
                <img style="height: 90px; width: 90px; margin: 80px; "  src="/assets/img/proyecto.png"  id="icon" alt="User Icon" />
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <a [routerLink]="['../crearproyectos']" class="card-link">Crear proyecto </a><br>
                  <a [routerLink]="['../verproyectos']"class="card-link">Ver proyectos</a> 
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="card">
              <div class="card-header" style="color:crimson" >
                COLABORADORES
                <img style="height: 90px; width: 90px; margin: 80px; " src="/assets/img/colaborador.png"  id="iconC" alt="User Icon" />
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <a [routerLink]="['../registrocol']" class="card-link">Registrar colaborador </a><br>
                  <a [routerLink]="['../reportestaff']"class="card-link">Reporte de staffing</a> 
                </blockquote>
              </div>
            </div>
          </div>

        </div>

      </div>
  
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    
                  
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        

        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>

      </div>
  </div>
