

  <div class="container">
    <form>
      <h3>REGISTRAR COLABORADOR <span class="badge badge-secondary"></span></h3>
      <br>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nombre">Nombre</label>
          <input type="text" [value]="nombre" (keyup)="setNombre($event.target.value)" class="form-control" id="nombre" placeholder="Nombre Apellido">
        </div>
        <div class="form-group col-md-4">
          <label for="apellido">Apellido</label>
          <input type="text" [value]="apellido" (keyup)="setApellido($event.target.value)" class="form-control" id="apellido" placeholder="Apellido">
        </div>
        <div class="form-group col-md-4">
          <label for="rut">Rut</label>
          <input type="text" [value]="rut" (keyup)="setRut($event.target.value)" class="form-control" id="rut" placeholder="11.111.111-1">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="correo">Correo</label>
          <input type="mail" [value]="correo" (keyup)="setCorreo($event.target.value)" class="form-control" id="correo" placeholder="correo@ejemplo.com">
        </div>
        <div class="form-group col-md-4">
          <label for="contrasena">Contraseña</label>
          <input type="text" [value]="contrasena" (keyup)="setContrasena($event.target.value)" class="form-control" id="contrasena" placeholder="********">
        </div>
        <div class="form-group col-md-4">
          <label for="cargo">Cargo</label>
          <input type="text" [value]="cargo" (keyup)="setCargo($event.target.value)" class="form-control" id="cargo" placeholder="Jefe de Proyectos">
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button type="button" (click)="save()" class="btn btn-dark">REGISTRAR</button> 
        </div>
        
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button type="button" class="btn btn-dark"  onclick="window.location.href='asignarhab'" >ASIGNAR HABILIDADES TECNICAS</button> 
          
        </div> -->
      </div>

    </form>
  </div>
  