<!DOCTYPE html>
<html>
  
    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    </head>
    <body>
        <ul class="nav nav-tabs fondo">
            <li class="nav-item">
                <a class="nav-link active"> Reporte de Staffing</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="/accesoadmin">Pagina Principal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/agregarcolaborador">Agregar Colaborador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/asignarproyecto">Crear proyecto</a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" href="/verproyectos">Ver proyectos</a>
            </li>  
        </ul>
        <br>
        

       <div class="container">
        <h2>Lista Usuarios</h2>
        <br>
        <div class="form-group">
        <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">
          <input class="form-control" type="text" placeholder="Buscador" aria-label="Search">
        </div>
        </div>
       
    
    
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">RUT</th>
                <th scope="col">NOMBRE APELLIDO</th>
                <th scope="col">CORREO</th>
                <th scope="col">TELEFONO</th>
                <th scope="col">OPCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">15452585</th>
                <td>JUAN PEREZ</td>
                <td>JP@GMAIL.COM</td>
                <td>8759549</td>
                <td><button type="button" class="btn btn-warning btn-sm">Ver</button> | 
                    <button type="button" class="btn btn-primary btn-sm">Editar</button>
                    | 
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="container">
        <div class="form-row">
               <div class="form-group col-md-4">
                  <button type="button" class="btn btn-primary boton">
                    Total Colaboradores <span class="badge badge-light">8</span>
                  </button>
                  <br>
                  <br>
                  <button type="button" class="btn btn-primary boton">
                    Asignados <span class="badge badge-light">6</span>
                  </button>
                  <br>
                  <button type="button" class="btn btn-primary boton">
                    Libres <span class="badge badge-light">4</span>
                  </button>
               </div> 
       </div>
   </div>

    </body>
    </html>