

  <div class="container">
    <h2>Reporte de Staffing</h2>
    <br>
    <div class="container">
      <form>
          <table  [id] = '"tablastaff"' datatable [dtOptions]='dtoptions' class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Nombre Colaborador</th>
                  <th scope="col">Rut</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Habilidades</th>
                  <th scope="col">Estado</th>                      
                </tr>
              </thead>
              <tbody>
           
              </tbody>
            </table>
        </form>    
  </div>
  <br>
  <br>
  <br>
