<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="row">
   <div class="col-md-8">
      <div class="card mb-6 bg-light text-black">
         <img class="card-img" src="assets/img/waves.png" alt="Card image">
         <div class="card-img-overlay">
            <h2>Bienvenido/a</h2>
            <h3>"El futuro pertenece a los que creen en la belleza de sus sueños" - E. Roosevelt</h3>
            <div class="container">
              <button type="button" [routerLink]= "['../../accesocol/' + rut]" class="btn btn-primary">Ir a mis proyectos</button>
            </div>
         </div>
      </div>
   </div>
</div>
