

<div class="container">
    <div class="form-group">
      <h3>ASIGNACION DE COLABORADORES <span class="badge badge-secondary"></span></h3>
      <br>
      <label for="sel1">Seleccionar colaboradores</label>
      <select class="form-control" id="sel1">
        <option>Millena</option>
        <option>Camila</option>
        <option>Valentina</option>
        <option>Denisse</option>
      </select>
    </div>
      <br>
      <button type="button" (click)="asignar()" class="btn btn-dark" >ASIGNAR</button> 

</div>
