

<div class="container">
    <div class="form-group">
      <h3>ASIGNACION DE COLABORADORES <span class="badge badge-secondary"></span></h3>
      <br>
      <label for="sel1">Seleccionar colaboradores</label>
      <select class="form-control" id="sel1">
        <option>Millena</option>
        <option>Camila</option>
        <option>Valentina</option>
        <option>Denisse</option>
      </select>
    </div>
      <br>
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <button type="button" (click)="asignar()" class="btn btn-dark" >ASIGNAR</button>
        </div>
        <br>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <button type="button2" [routerLink]="['../crearproyectos']" class="btn btn-dark">VOLVER</button> 
          </div>
      </div>
      
</div>

