
 <h3>ASIGNACION DE COLABORADORES <span class="badge badge-secondary"></span></h3>
<br>
<div class="container">
  <form>
    <div class="form-group">
      <label for="sel1">Seleccionar colaboradores</label>
      <select class="form-control" id="sel1">
        <option>Millena</option>
        <option>Camila</option>
        <option>Valentina</option>
        <option>Denisse</option>
      </select>
    </div>
      <br>
<div class="container">
  <form>
    <div class="form-group">
      <br>
      <label for="Asignarhab">Seleccionar habilidades técnicas (presione ctrl para seleccionar más de una):</label>
      <select multiple class="form-control" id="Asignarhab">
        <option>PHP</option>
        <option>C++</option>
        <option>PYTHON</option>
        <option>ANGULAR</option>
        <option>JAVA</option>
      </select>
    </div>
  </form>
</div>
      <br>
      <br>
      <br>
        <button type="button" class="btn btn-dark" onclick="window.location.href='creado'" >ASIGNAR</button> 
  <br>
  <br>