  <div class="container">
    <h2>Proyectos</h2>
    <br>
    <div class="container">
      <form>
          <table  [id] = '"tablaproyectos"' datatable [dtOptions]='dtoptions' class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Colaboradores</th>
                  <th scope="col">Habilidades</th>
                  <th scope="col">Estado</th>    
                  <th scope="col">Fecha de inicio</th>
                  <th scope="col">Fecha de término</th>                        
                </tr>
              </thead>
              <tbody>
           
              </tbody>
            </table>
        </form>   
        <br>
        <br>
        <br>
  </div>
  
  