
<div class="container">
<form>
  
<h3>ASIGNAR HABILIDADES TÉCNICAS<span class="badge badge-secondary"></span></h3>
<br>
<!-- <div class="form-group">
  <label for="sel1">Seleccionar colaboradores</label>
  <select class="form-control" id="sel1">
    <option>Millena</option>
    <option>Camila</option>
    <option>Valentina</option>
    <option>Denisse</option>
  </select>
</div> -->
  <br>
<div class="container">
<form>
<div class="form-group">
  <br>
  <label for="Asignarhab">Seleccionar habilidades técnicas (presione ctrl para seleccionar más de una):</label>
  <select (change)="setHabilidades($event)" multiple class="form-control" id="Asignarhab">
    <option>PHP</option>
    <option>C++</option>
    <option>PYTHON</option>
    <option>ANGULAR</option>
    <option>JAVA</option>
  </select>
</div>
</form>
</div>
  <br>
  <br>
  <br>
    <button type="button" (click)="asignar()" class="btn btn-dark" >ASIGNAR</button> 
    <button type="button" (click)="volver()" class="btn btn-dark"  >VOLVER</button> 
<br>
<br>

